@font-face {
    font-family: "Another Danger";
    src: url("/fonts/AD.otf");
}

html{
    background : #000;
    color: #C0C0C0;
    cursor: url('img/1\ Normal.cur'), pointer;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 20px;
}

.title h1{
    font-size: 60px;
}

.title img
{
    transform: rotate(270deg);
    height: 120px;
    margin-top: 31px;
    padding: 0 10px 0 10px;
}

h2{
    color: #E18A07;
    text-align: center;
    font-family: "Another Danger", serif;
    text-shadow: 0 5px 5px black;
    letter-spacing: 0.5em;
    margin-bottom: 40px;
}

.ancres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ancres a{
    color : orange;
    padding: 6px;
}

.ancres a:hover{
    color: black;
    background: orange;
    padding: 6px;
    border-radius: 4px;
}

.ancres a{
    font-size: 1.2em;
}

.span-nat{
    color: orange;
}

.span-nat:hover{
    font-size: 4em;
}

.habillage img
{
    margin: auto;
    border: 1px solid orange; 
    margin-bottom: 15px;
}


body{
    background : #333;
    letter-spacing: 0.1em;
    width: 70%;
    display: block;
    margin: 0px auto;
    box-shadow: 0 0 30px 30px #333;
}

.fixed-nav{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 20px;
    padding-top: 20px;
    text-align:center;  
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    color:inherit;
    text-decoration: none;
    cursor: url('img/1\ Normal.cur'), pointer;  
}

.fixed-nav a{
    color: #E18A07;
    width:100%;
    padding: 5px;
    display:block;
    padding: 5px;
    background: inherit;
    transition: all 0.5s ease;
}

.fixed-nav a:hover{
    width:100%;
    display:block;
    background-color: #E18A07;
    border-radius: 4px;
    color: black;
}

header{
    display: flex;
    flex-direction: column;
}

h1{
    color: #E18A07;
    text-align: center;
    letter-spacing: 0.5em;
    font-family: "Another Danger", serif;
    text-shadow: 0 5px 5px black;
}

section{
    display: flex;
    flex-direction: column;
}

hr {
    height: 1px;
    margin: 10px 0;
    padding: 0;
    color: #E18A07;
    background-color: #E18A07;
    border: 0;
}

.fight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.fighters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.fighters .img-fight{
    height: 300px;
}

.fighters .vs{
    width: 100px;
    height: 100px;
}

.fighters a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

article{
    margin: 25px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large{
    font-size:40px;
}

em{
    color: #E18A07;
}

form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #E18A07;
    border-radius: 1em;
}

.carousell{
    display:flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.carousell-text{
    margin-left: 20px;
    width: 60%;
}

.col-form{
    margin-top:10px;
}

form div + div{
    margin-top: 0.8em;
}

label{
    display: inline-block;
    width: 80px;
    margin-left:10px;
    text-align: center;
}

input, textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;

}

.img1{
    border: 2px solid #E18A07;
    border-radius: 2px;
    width: 350px;
}

.img2 {
    border: 2px solid #E18A07;
    border-radius: 2px;
    width: 350px;
}

.imgcont{
    display: flex;
    justify-content: center;
    width: auto;;
    height: 250px;;
}

div.imgcont img.img2 {
    display: none;
}

div.imgcont:hover img.img2 {
    display: block;
}

div.imgcont:hover img.img1 {
    display: none;
}

.radio{
    width: 20px;
}

input:focus, textarea:focus{
    border-color: #000;
}

textarea{
    vertical-align: top;
    height: 5em;
}

.button{
    padding-left: 130px;
    margin-top: 25px;
}

button{
    margin-left: .5em;
    padding:6px 0 6px 6px;
    color: white;
    text-align: center;
    letter-spacing: 0.5em;
    font-family: "Another Danger", serif;
    text-shadow: 0 5px 5px black;
	font:Bold 13px;
	background:red;
	width:140px;
	border-radius:2px;
    border:none;
    cursor: url('img/1\ Normal.cur'), pointer;  
    box-shadow: 3px 3px 3px black;
}

button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

easteregg{
    position: fixed;
    bottom: 0px;
    right:0;
    width: 2px;
    height: 2px;
    background: url("https://media.giphy.com/media/7Gi2BoVVIbSDK/giphy.gif");
}

easteregg:hover{
    width: 350px;
    height: 150px;
}

@keyframes AutoSlide {
	0%, 100% {
		left: 0px;
	}
	25%{
		left: -296px;
	}
	50%{
		left: -592px;
    }
    75%{
		left: -900px;
	}
}

#slideshow {
	position: relative;
	width: 296px;
	height: 296px;
	margin:  20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 1300px;
	margin: 0;            
	padding: 0;
	animation-name: AutoSlide;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@media screen and (min-width: 580px) and (max-width: 1091px) {
    .fixed-nav{
        position: relative;
        margin-left: -15px;
        width: 98%;
        display:flex;
        flex-direction: row;
    }


    .ancres{
        flex-direction: column;
        text-align: center;
    }

    .form{
        flex-direction: column;
        align-items: center;
    }

    .carousell{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .carousell-text{
        width: 90%;
    }


    .fighters{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {
    body{
        background :black;
        box-shadow: none;
    }


    .ancres{
        flex-direction: column;
        text-align: center;
    }
    
    .fixed-nav{
        position: relative;
        margin-left: -15px;
        width: 98%;
        display:flex;
        flex-direction: column;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousell{
        display:flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    
    .carousell-text{
        width: 90%;
    }

    .fighters{
        flex-direction: column;
    }

}